.container {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #664D44;
    background-color: #FFF3CD;
    padding: 16px;
    width: 80%;
    margin: 3vh auto 3vh auto;
    border-radius: 5px;
    border: 1px solid rgb(203, 203, 203);
}
.cross{
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
    border: transparent;
    background-color: transparent;
}
.cross:hover{
    font-weight: 500;
}